* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #121212;
    color: #fafafa;
}

body a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    color: #fafafa;
}

h2 {
    text-align: center;
    margin-bottom: 1rem; 
}

body input,
body button,
body select,
body textarea {
    border: none;
    outline: none;
}

body .active {
    font-weight: bold;
}

.subtitle {
    font-weight: bold;
    color: #999;
    margin-bottom: 1.5rem 
}

body form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label span {
    font-weight: bold;
    margin-bottom: .5rem;
    color: #aaa;
    font-size: .9rem;
}

input, 
select, 
textarea {
    display: block; 
    background-color: #3b3b3b;
    color: #aaa;
    border: 1px solid #555 !important;
    border-radius: 2px;
    padding: 10px 8px;
    margin-bottom: .6rem;
    font-size: 0.9rem; 
    max-width: 100%;
    overflow: auto; 
    font-family: "Roboto", sans-serif;
    letter-spacing: normal;
    line-height: normal;
    font-weight: 400;
}

input::placeholder, 
select::placeholder, 
textarea::placeholder {
    color: #aaa;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: normal;
    line-height: normal;
    font-weight: 400;
}

.btn,
button,
input[type="submit"] {
    background-color: #0094f6;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 8px;
    font-weight: bold;
    opacity: .8;
    font-size: 1rem;
}

button[type="submit"] {
    margin-top: 1rem;
}

input:disabled, 
select:disabled, 
button:disabled,
textarea:disabled {
    cursor: not-allowed;
    background-color: #000;
}

.btn:hover,
button:hover,
input[type="submit"]:hover {
    opacity: 1;
}

.cancel-btn {
    background-color: #ccc;
}

.hide {
    display: none;
}