.photo-item img {
    display: block;
    margin: 0 0 1rem;
    width: 100%;
}

.photo-item .photo-title {
    margin-bottom: 1rem;
    text-align: center !important;
    width: 100%;
    font-size: 1.3rem;
}

.photo-author {
    text-align: left !important;
}

.photo-author a {
    font-weight: bold;
}