.photo-item img {
    display: block; 
    margin-bottom: 1rem;
    width: 100%; 
}

#home .photo-item h2 {
    margin-bottom: 1rem;
}

.photo-author {
    text-align: left !important;
}

.photo-author a {
    font-weight: bold;
}