#search-container {
    width: 60%;
    max-width: 900px; 
    margin: 0 auto; 
    margin-bottom: 3rem; 
}

#search-container .btn {
    display: block;
    max-width: 110px;
    text-align: center;
    margin-bottom: 2rem;
}

#search-container .no-photos {
    margin: 2rem 0 ;
}