#profile {
    width: 100%;
}

.profile-info {
    max-width: 450px;
    /* border: 1px solid blue;  */
    width: 90%;
    margin: 0 auto;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
    border-bottom: 1px solid #363636;
}

.profile-header p {
    color: #999;
}

.profile-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 2rem;
    ;
}

.new-photo {
    padding: 1rem;
    border-bottom: 1px solid #363636;
    /* width: 100%; 
    max-width: 400px;
    margin: 0 auto;  */
    margin-bottom: 1.5rem;
}

/* 
.new-photo form button {
    width: 100%;
    max-width: 140px; 
    display: block; 
    text-align: center;
    margin: 0 auto; 

} */

.new-photo h3 {
    margin-bottom: 1rem;
    text-align: center;
}

.user-photos {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid blue;  */
}

.user-photos .photos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 0.3rem;
}

.photo {
    min-width: 33%;
    max-width: 250px;
    flex: 1;
}

.photo img {
    width: 100%;
}

.actions {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
}

.actions svg {
    cursor: pointer;
}

.edit-photo {
    margin-bottom: 1rem;
}

.edit-photo img {
    width: 100%;
    margin-bottom: 1rem;
}


@media only screen and (max-width: 630px) {
    .photo {
        min-width: 50%;
        max-width: 100%;
        flex: 1;
    }
}

/* @media only screen and (max-width: 400px) { 
    .new-photo form button { 
        width: 100%; 
        max-width: 100%;
    }
} */