.message {
    margin-top: 0.6rem; 
    padding: 5px 10px;
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.9rem; 
    gap: 0.4rem; 
    background-color: #ccc;
    border: 1px solid #000; 
}

.message.success {
    color: #155724; 
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.message.error {
    color: #721c24; 
    background-color: #efd7da;
    border-color: #f5c6cb;
}